body,
html {
    margin: 0px;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    width: 100%;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.header_common {
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dark_header {
    background-color: #16181a;
    color: #ffffff;
}

.light_header {
    background-color: #ffffff;
    color: #212121;
}

.dark_link {
    color: #ffffff;
    font-weight: bold;
}

.light_link {
    color: #212121;
    font-weight: bold;
}

.active_light {
    color: #f5b453;
    text-decoration: none;
    font-weight: bold;
}

.active_dark {
    color: #0070f3;
    text-decoration: none;
    font-weight: bold;
}
